html{
  font-size: 16px;
}

html body{
  margin: 0;
  padding: 0;
  height: 100%;
}

.main-story{
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.main-story .bg{
  background-size: cover;
  background-position: center;
  animation: fadeSlide 35s infinite;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
}

.main-story .bg1{background-image: url('images/family-8702291_640.png'); animation-delay:0s;}
.main-story .bg2{background-image: url('images/pexels-harrisonhaines-3204051.jpg'); animation-delay:7s;}
.main-story .bg3{background-image: url('images/pexels-matthew-montrone-230847-733478.jpg'); animation-delay:14s;}
.main-story .bg4{background-image: url('images/pexels-alexandro-david-871783-1912359.jpg'); animation-delay:21s;}
.main-story .bg5{background-image: url('images/sabesh-photography-ltd-1J-HspMgWwM-unsplash.jpg'); animation-delay:28s;}

@keyframes fadeSlide {
  0% {
    opacity: 0;
  }
  20%{
    opacity: 1;
  }
  25%{
    opacity: 0;
  }
  40%{
    opacity: 0;
  }
  60%{
    opacity: 0;
  }
  80%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;
}

.header.fixed{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: #fdfaf5;
  border-bottom: 0.0625rem solid rgba(195, 188, 174, 0.503);
}

.header.fixed .container p{
  color: rgba(55, 42, 23, 0.5);
}

.header.fixed .container p:hover{
  color: rgba(174, 161, 123, 0.5);
}

.header .darkened{
  background-color: rgba(0, 0, 0, 0.5);
  color: whitesmoke;
  transition: background-color 0.3s ease;
}

.container{
  display:flex;
  gap:1.25rem; 
  margin-left: 1.5625rem;
  cursor: pointer;
  color: whitesmoke;
}

.container p:hover{
  color: rgba(55, 42, 23, 0.5) ;
}

.album_title{
  margin-left: 1.25rem;
}

.photo-gallery{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1.25rem;
  justify-content: center;
}

.thumbnail{
  width: 9.375rem;
  height: 9.375rem;
  object-fit: contain;
  background-color: white;
  cursor: pointer;
  transition: transform 0.3s;
  margin: 0.5rem;
}

.thumbnail:hover{
  transform: scale(1.1);
}

.modal{
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.modal-content{
  max-width: 80%;
  max-height: 80%;
}

.close{
  position: absolute;
  top: 0.625rem;
  right: 1.25rem;
  font-size: 1.875rem;
  color: whitesmoke;
  cursor: pointer;
}

.search-area{
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 0.9375rem;
  overflow: hidden;
}

.clickable-area{
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 0.625rem;
  max-width: 12.5rem;
}

.info-icon{
  color: whitesmoke;
  font-size: 1.125rem;
  margin-right: 0.625rem;
}

.info-icon:hover{
  color: #555;
}

.text-wrapper{
  overflow: hidden;
  width: 15.625rem;
}

.plan-text{
  display: inline-block;
  font-size: 1rem;
  text-decoration: underline;
  white-space: nowrap;
  padding-left: 0.625rem;
  animation: slide-text 10s linear infinite; 
  color: whitesmoke;
}

@keyframes slide-text{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-100%);
  }
}

.search-box{
  z-index: 3;
}

.search-box input{
  padding: 0.3125rem 0.625rem;
  border: none;
  border-radius: 1.875rem;
  text-align: center;
  background: rgba(238, 236, 236, 0.25);
}

.search-box input::placeholder{
  color: whitesmoke;
}

.search-box.active input{
  background: rgba(55, 42, 23, 0.5);
  color: whitesmoke;
}

.search-box.active input::placeholder{
  color: whitesmoke;
}

input:focus {
  outline: none;
  border: none;
  background-color: white;
}

input:focus::placeholder{
  color: transparent;
}

.search-box.active input:focus::placeholder{
  color: transparent;
}

.side-menu{
  position: fixed;
  top: 0;
  right: -100%;
  width: 25%;
  height: 100%;
  background-color: #fffaf0;
  transition: right 0.5s ease-in-out;
  z-index: 2;
}

.side-menu.open{
  right: 0;
}

.side-menu.open .container p:hover,
.social-icons .container p:hover{
  color: rgba(174, 161, 123, 0.5);
}

.side-menu .container{
  margin-left: 1.5625rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  position: absolute;
  top: 15%;
}

.side-menu.open .container p{
  color: rgba(55, 42, 23, 0.5);
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}

.overlay.active{
  display: block;
}

body.no-scroll{
  overflow: hidden;
}

.hamburger{
  width: 1.875rem;
  height: 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin-right: 1.5625rem;
  z-index: 3;
  transition: all 0.3s ease;
}

.bar{
  width: 100%;
  height: 0.09375rem;
  background-color: whitesmoke;
  border-radius: 0.125rem;
  transition: all 0.3s ease;
}

.hamburger.open .bar:nth-child(1) {
  transform: rotate(45deg) translateY(0.375rem);
  background-color: rgba(55, 42, 23, 0.5);
}

.hamburger.open .bar:nth-child(2) {
  transform: rotate(-45deg) translateY(-0.375rem);
  background-color: rgba(55, 42, 23, 0.5);
}

.hamburger.active .bar:nth-child(1),
.hamburger.active .bar:nth-child(2){
  background-color: rgba(55, 42, 23, 0.5);
}

.wrapper{
  color: whitesmoke;
  flex-wrap: wrap;
}

.left-text{
  font-size: 0.5em;
  line-height: 1.5;
  pointer-events: none;
  position: absolute;
  left: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
}

.left-text p{
  margin: 0;
  width: auto;
  white-space: normal;
  font-size: 1.3em;
}

.left-text .first-line{
  font-size: 1.7em;
  margin-bottom: 1.25rem;
}

.centered-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.large-text{
  font-size: 2em;
  margin: 0;
  user-select: none;
}

.small-text{
  font-size: 1em;
  margin: 0;
  user-select: none;
}

.second-story{
  height: 100vh;
  width: 100%;
}

.scroll-section{
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.vertical-text-wrapper{
  position: absolute;
  top: 25%;
  right: 6%;
  display: flex;
  user-select: none;
}

.underline{
  width: 0.0625rem;
  height: 100%;
  background-color: whitesmoke;
  position: absolute;
  left: -0.125rem;
}

.vertical-text{
  writing-mode: vertical-rl;
  color: whitesmoke;
  font-size: 1.5em;
  margin-right: 0.0625rem;
}

.furigana{
  writing-mode: vertical-rl;
  font-size: 0.5em;
  color: whitesmoke;
  margin-left: 0.0625rem;
  letter-spacing: 0.625rem;
  margin-top: 0.5rem;
}

.version2{
  position: absolute;
  right: 16%;
}

.vertical-text-large{
  writing-mode: vertical-rl;
  color: whitesmoke;
  font-size: 1.8em;
}

.vertical-text-large:first-child{
  margin-top: 2rem;
  margin-right: 1rem;
}

.scroll-left-text-container{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 33%;
  left: 10%;
  width: 40%;
  color: whitesmoke;
}

.scroll-left-text{
  font-size: 0.9em;
  cursor: text;
}

.small{
  font-size: 0.7em;
  line-height: 3;
}

.third-story{
  height: 140vh;
  width: 100%;
  background-color: #fdfaf5;
  color: rgba(55, 42, 23, 0.5);
  overflow: hidden;
  position: relative;
}

.content.type1 .maintext{
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);  
  font-size: 1.2em;
  font-weight: 550;
}

.content.type1 .maintext.sub{
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);  
}

.content.type1 .subtext1{
  font-size: 1em;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);  
}

.content.type1 .subtext2{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);  
  font-size: 0.8em;
}

.image-slide{
  width: 100vw;
  overflow: hidden;
  position: absolute;
  top: 40%;
  cursor: pointer;
}

.slider{
  display: flex;
  animation: slide 50s linear infinite;
  gap: 3.75rem;
  width: max-content;
}

.slider img{
  height: 75vh;
  width: auto;
}

@keyframes slide{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-50%);
  }
}

.forth-story{
  height: 250vh;
  width: 100%;
  background-color: #fdfaf5;
  position: relative;
  color: rgba(55, 42, 23, 0.5);
  overflow: hidden;
}

.content.type2 .maintext{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);  
    font-size: 1.2em;
    font-weight: 550;
}

.content.type2 .maintext.sub{
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);  
}

.image-animation{
  position: absolute;
  top: 15%;
  left: 5%;
}

.animation img{
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 50vh;
  opacity: 0;
  transition: opacity 0.5s ease;
  cursor: pointer;
}

.timers{
  padding-top: 0.1rem;
  padding-left: 0.1rem;
  display: flex;
  gap: 0.3125rem;
}

.timer{
  width: 0.3125rem;
  height: 0.3125rem;
  border: 0.0625rem solid #ccc;
  border-top-color: #000;
  border-radius: 50%;
  transform: rotate(0deg);
}

.restaurant-info{
  position: absolute;
  top: 15%;
  left: 50%;
  line-height: 1.875rem;
}

.underline2{
  width: 31.25rem;
  height: 0.0625rem;
  background-color: rgba(55, 42, 23, 0.5);
  margin-top: 1.25rem;
}

.restaurant-info .maintext,
.sauna-info .maintext,
.gallery-info .maintext{
  font-size: 1.2rem;
  font-weight: 550;
}

.restaurant-info .subtext1,
.restaurant-info .subtext2,
.sauna-info .subtext1,
.sauna-info .subtext2,
.gallery-info .subtext1,
.gallery-info .subtext2{
  max-width: 31.25rem;
}

.restaurant-info .subtext1,
.sauna-info .subtext1,
.gallery-info .subtext1{
  font-size: 1rem;
}

.restaurant-info .subtext2,
.sauna-info .subtext2,
.gallery-info .subtext2{
  font-size: 0.8rem;
}

.image-animation2{
  position: absolute;
  top: 45%;
  left: 5%;
}

.second-animation img{
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 50vh;
  opacity: 0;
  transition: opacity 0.5s ease;
  cursor: pointer;
}

.second-timers{
  padding-top: 0.1rem;
  padding-left: 0.1rem;
  display: flex;
  gap: 0.3125rem;
}

.second-timer{
  width: 0.3125rem;
  height: 0.3125rem;
  border: 0.0625rem solid #ccc;
  border-top-color: #000;
  border-radius: 50%;
  transform: rotate(0deg);
}

.sauna-info{
  position: absolute;
  top: 45%;
  left: 50%;
  line-height: 1.875rem;
}

.image-animation3{
  position: absolute;
  top: 75%;
  left: 5%;
}

.third-animation img{
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 50vh;
  opacity: 0;
  transition: opacity 0.5s ease;
  cursor: pointer;
}

.third-timers{
  padding-top: 0.1rem;
  padding-left: 0.1rem;
  display: flex;
  gap: 0.3125rem;
}

.third-timer{
  width: 0.3125rem;
  height: 0.3125rem;
  border: 0.0625rem solid #ccc;
  border-top-color: #000;
  border-radius: 50%;
  transform: rotate(0deg);
}

.gallery-info{
  position: absolute;
  top: 75%;
  left: 50%;
  line-height: 1.875rem;
}

.footer{
  height: 50vh;
  width: 100%;
  color: rgba(55, 42, 23, 0.5);
  background-color: rgba(195, 188, 174, 0.503);
}

.footer-container{
  display: flex;
  justify-content: space-between;
}

.footer img{
  height: 30vh;
  display: block;
}

.informations{
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  margin-right: auto;
}

.informations-left{
  display: flex;
  gap: 0.5rem;
  padding-left: 1rem;
  padding-top: 5rem;
}

.map-icon{
  display: flex;
  gap: 0.625rem;
}

.map-icon a{
  color: rgba(55, 42, 23, 0.5);
}

.social-icons{
  padding-right: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.sns-icons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.25rem;
  margin-top: 5rem;
  padding-bottom: 2.8125rem;
}

.sns-icons a{
  color: rgba(55, 42, 23, 0.5);
}

.search-box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3vh;
}

.search-box2 input{
  padding: 0.3125rem 0.625rem;
  border: none;
  border-radius: 1.875rem;
  text-align: center;
  background-color: rgba(55, 42, 23, 0.5);
  color: white;
}

.search-box2 input::placeholder{
  color: whitesmoke;
}

.search-box2 input:focus::placeholder {
  color: transparent;
}

.container-group1,
.container-group2{
  display:flex;
  gap:1.25rem;
  cursor: pointer;
  color: rgba(55, 42, 23, 0.5);
  padding-bottom: 1rem;
}

.container-group1 p,
.container-group2 p{
  margin: 0;
}

.container-group1 p:hover,
.container-group2 p:hover{
  color: rgba(174, 161, 123, 0.5);
}

.corporate{
  text-align: right;
  padding-top: 1.875rem;
  font-size: 0.75rem;
}

@media (max-width: 768px) and (orientation: portrait){
  html, body{
    overflow-x: hidden;
  }

  .header .container{
    padding: 0.25rem;
    padding-left: 0.5em;
  }

  .side-menu .container p {
    writing-mode: vertical-rl;
    padding: 0.3125rem;
    margin: 0;
  }

  .search-area{
    display: none;
  }

  .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .left-text{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    top: 65%;
    left: 50%;
  }

  .left-text p{
    font-size: 1em;
  }
  
  .left-text .first-line{
    font-size: 1.5em;
  }

  .vertical-text-wrapper{
    position: absolute;
    top: 8%;
    right: 10%;
  }
  
  .version2{
    position: absolute;
    top: 8%;
    right: 45%;
  }
  
  .vertical-text-large{
    font-size: 1.5rem;
    margin-right: 0.1875rem;
  }
  
  .vertical-text-large:nth-child(1){
    margin-top: 1.5rem;
  }

  .scroll-left-text-container{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    text-align: center;
  }
  
  .scroll-left-text{
    font-size: 0.65rem;
    line-height: 1.2;
  }
  
  .small{
    font-size: 0.45rem;
    line-height: 3;
  }

  .third-story{
    height: 100vh;
  }

  .content.type1 .subtext1,
  .content.type1 .subtext2{
    left: 2%;
    transform: none;
    width: 98%;
    text-align: center;
  }

  .content.type1 .subtext2{
    top: 38%;
  }
  
  .image-slide{
    position: absolute;
    top: 49%;
  }
  
  .slider{
    animation: slide 60s linear infinite;
    gap: 3.75rem;
  }
  
  .slider img{
    height: 50vh;
  }

  .image-animation{
    top: 10%;
  }

  .image-animation2{
    top: 40%;
  }

  .image-animation3{
    top: 70%;
  }

  .image-animation,
  .image-animation2,
  .image-animation3{
    left: 0;
  }
  
  .animation img,
  .second-animation img,
  .third-animation img{
    height: 45vh;
    width: auto;
  }

  .restaurant-info{
    top: 29%;
    left: 2%;
    line-height: 1rem;
  }

  .sauna-info{
    top: 59%;
    left: 2%;
    line-height: 1rem;
  }

  .gallery-info{
    top: 89%;
    left: 2%;
    line-height: 1rem;
  }
  
  .underline2{
    width: 98%;
    margin-top: 0.25rem;
  }
  
  .restaurant-info .subtext1,
  .restaurant-info .subtext2,
  .sauna-info .subtext1,
  .sauna-info .subtext2,
  .gallery-info .subtext1,
  .gallery-info .subtext2{
    max-width: 98%;
    margin-top: 1rem;
    font-size: 0.7rem;
  }


  .footer{
    height: 30vh;
  }
  
  .footer img{
    height: 10vh;
  }

  .informations-left{
    gap: 0.1rem;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    width: 45%;
    flex-wrap: wrap;
  }
  
  .informations{
    gap: 0.4rem;
    font-size: 0.6rem;
  }
  
  .map-icon{
    gap: 0.2rem;
  }
  
  .social-icons{
    padding-right: 1rem;
  }
  
  .sns-icons{
    gap: 0.3rem;
    font-size: 0.6rem;
    margin-top: 1.5rem;
    padding-bottom: 1rem;
  }
  
  .search-box2 input{
    padding: 0.3125rem 0.625rem;
    border-radius: 1.875rem;
    height: 1.5vh;
    font-size: 0.6rem;
  }
  
  .container-group1,
  .container-group2{
    gap:0.3rem;
    padding-bottom: 0.3rem;
    font-size: 0.7rem;
  }

  .corporate{
    padding-bottom: 0.5rem;
    font-size: 0.4rem;
  }

  }

  @media (max-width: 956px) and (orientation: landscape){
    .clickable-area,
    .info-icon,
    .text-wrapper{
      display: none;
    }

    .left-text p{
      font-size: 1em;
    }
    
    .left-text .first-line{
      font-size: 1.5em;
    }

    .vertical-text-wrapper{
      position: absolute;
      top: 15%;
    }

    .vertical-text{
      font-size: 1.3em;
    }
    
    .vertical-text-large{
      font-size: 1.1em;
      margin-right: 3px;
    }

    .scroll-left-text{
      font-size: 0.5em;
      cursor: text;
    }

    .small{
      font-size: 0.5em;
      top: 60%;
    }

    .content{
      width: 100%;
      top: 25%;
    }

  .content.type1 .subtext1,
  .content.type1 .subtext2{
    left: 2%;
    transform: none;
    width: 98%;
    text-align: center;
  }

  .content.type1 .subtext2{
    top: 36%;
  }

    .restaurant-info,
    .sauna-info,
    .gallery-info{
      width: 50%;
      line-height: 1rem;
    }
    
    .underline2{
      width: 95%;
      height: 0.0625rem;
      margin-top: 0.25rem;
    }
    
    .restaurant-info .subtext1,
    .restaurant-info .subtext2,
    .sauna-info .subtext1,
    .sauna-info .subtext2,
    .gallery-info .subtext1,
    .gallery-info .subtext2{
      max-width: 95%;
      margin-top: 1rem;
    }

    .restaurant-info .subtext1,
    .sauna-info .subtext1,
    .gallery-info .subtext1{
      font-size: 1rem;
    }

    .restaurant-info .subtext2,
    .sauna-info .subtext2,
    .gallery-info .subtext2{
      font-size: 0.8rem;
    }
    
    .informations{
      gap: 0.4rem;
    }
    
    .informations-left{
      gap: 0.1rem;
      padding-left: 1rem;
      padding-top: 1rem;
      font-size: 0.8rem;
    }
    
    .map-icon{
      gap: 0.3rem;
    }
    
    .social-icons{
      padding-right: 2rem;
    }
    
    .sns-icons{
      gap: 0.3rem;
      font-size: 1rem;
      margin-top: 1rem;
      padding-bottom: 1rem;
    }

    .container-group1,
    .container-group2{
      gap:0.5rem;
      padding-bottom: 0.5rem;
    }
    
    .corporate{
      padding-bottom: 0.5rem;
      font-size: 0.6rem;
    }

    }